*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style-type: none;   */
}
html{
    height: 100%;
}
body{
    height: 100vh;
    background-color: #c0c0c0;
}
summary {
    font-weight: 600;
}
details{
    margin-bottom: 8px;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 10;
    display: grid;
    grid-template-columns: minmax(306px, 349px) minmax(624px,706px) minmax(306px, 349px);
    gap: 10;
}
.personal_info,
.course_list,
.tags{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    gap: 10px; 
}
.personal_info{
    grid-column: 1 / 2;
}
.course_list{
    grid-column: 2 / 3;
}
.tags{
    grid-column: 3 / 4;
}
.personal_info .avatar{
    min-height: 180px;
    display: grid;
    place-items: center;
}
.personal_info .avatar img{
    width: 50%;
    border-radius: 50%;
}
.personal_info ul,
.course_list ul{
    width: 100%;
    height: 100%;
}
.window{
    width: 100%;
}
.course_link{
    cursor: pointer;
}
.course_list img{
    width: auto;
    height: 12px;
    margin: auto 4px;
}
.pop_up{
    position: absolute;
    min-width: 306px;
    max-width: 349px;
    top: 100px;
    left: 200px;
}

.window-body ul{
    padding: 0 12px;
}
.bold{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.field-row-stacked img{
    height: 18px;
    width: auto;
    margin-right: 6px;
}
.field-row-stacked input{
    width: 200px;
    cursor: pointer;
}
.main_summary{
    font-size: 12px;
    color: #0000ff;
}
.status-bar-text,
.status-bar-text img{
    display: flex;
    align-items: center;
    max-height: 18px;
}
.progress{
    position: relative;
    color: #c0c0c0;
    padding: 0 !important;
}
.progress span{
    display: flex;
    align-items: center;
    height: 100%;
    width: 0%;
    margin: 0;
    position: absolute;
    background: linear-gradient(
    90deg,
    #000080,
    #1084d0
  );
  z-index: 0;
}
.certificate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
